<h2>{{bookShowCtrl.books.title}}</h2>
<div class="container">
	<div class="row">
		<img ng-src="{{bookShowCtrl.books.image}}">
		<p ng-hide="editing">{{bookShowCtrl.books.author}}</p>
		<p ng-hide="editing">{{bookShowCtrl.books.releaseDate}}</p>
		<button type="button" class="btn btn-default" ng-hide="editing" ng-click="bookShowCtrl.editBook">Edit</button>
        <button type="button" class="btn btn-default" ng-hide="editing" ng-click="bookShowCtrl.deleteBook(bookShowCtrl.books)">Delete</button>
        <button type="button" class="btn btn-default" ng-show="editing" ng-click="bookShowCtrl.saveBook">Save</button>
		<input ng-show="editing" ng-model="bookShowCtrl.books.title" type="text" class="form-control input-md">
		<input ng-show="editing" ng-model="bookShowCtrl.books.author" type="text" class="form-control input-md">
		<input ng-show="editing" ng-model="bookShowCtrl.books.releaseDate" type="text" class="form-control input-md">
	</div>
</div>
               